html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  line-height: 1.4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  padding: 0;
  margin: 0;
}

:root {
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  margin: 0 0 2rem;
}

li {
  list-style: none;
}
